{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li><a href="/user/{{ users.id }}">{{ users.id }}. {{ users.theme }} {{ users.lastName }} {{ users.adress }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    
    <h1>Quizz</h1>
    <ul>
        {% for quizz in quizzs %}
            <li><a href="/user/{{ quizz.id }}">
            {{ quizz.id }}. {{ quizz.theme }} {{ quizz.id_users }}</a></li> 
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}
