<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TEST</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li><a href="/user/{{ user.id }}">{{ user.id }}. {{ user.firstName }} {{ user.lastName }} {{ user.adress }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    
    <h1>Quizz</h1>
    <ul>
        {% for quizz in quizzs %}
            <li><a href="/quizz/{{ quizz.id }}">
            {{ quizz.id }}. {{ quizz.theme }} {{ quizz.id_users }}</a></li> 
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

    <h1>Questions</h1>
    <ul>
        {% for question in questions %}
            <li><a href="/user/{{ question.id }}">
            {{ question.id }}. {{ question.question }} {{ question.id_quizz }}</a></li> 
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

    <h1>Answers</h1>
    <ul>
        {% for answer in answers %}
            <li><a href="/user/{{ answer.id }}">
            {{ answer.id }}. {{ answer.name }} {{ answer.istrue }}  {{ answer.id_questions }}</a></li> 
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
</body>
</html>
