{% extends 'layout.html.twig' %}

{% block content %}
{% for info in profil %}

<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<b>Nom</b>
			</div>
			<div class="col-xs-6 col-md-6">
				<form role="form" action="EditProfil" method="POST">
					<input class="form-control" placeholder="{{ info.firstName }}" name="firstName" type="text">
			</div>
		</div>
</br>
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<b>Prénom</b>
			</div>
			<div class="col-xs-6 col-md-6">
					<input class="form-control" placeholder="{{ info.lastName }}" name="lastName" type="text">
			</div>

		</div>
</br>
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<b>Adresse</b>
			</div>
			<div class="col-xs-6 col-md-6">
					<input class="form-control" placeholder="{{ info.adress }}" name="adress" type="text">
			</div>
		</div>
</br>
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<b>E-mail</b>
			</div>
			<div class="col-xs-6 col-md-6">
					<input class="form-control" placeholder="{{ info.mail }}" name="mail" type="text">
			</div>
		</div>
</br>
		<div class="row">
			<div class="col-xs-3 col-md-3">
				<b>Password</b>
			</div>
			<div class="col-xs-6 col-md-6">
					<input class="form-control" placeholder="{{ info.password }}" name="password" type="text">
			</div>
		</div>
	</div>
			<input type="submit" name="UpdateEdit" value="Valider Modifications">
	</form>
	</div>
{% endfor %}
{% endblock %}
