{% extends 'layout.html.twig' %}

{% block content %}

<h1>Profil</h1>
<ul>
	{% for info in profil %}
    	<li><a href="/formulaire">{{ info.id }}. {{ info.firstName }} {{ info.lastName }} {{ info.adress }} {{ info.mail }} {{ info.password }}</a></li>
    {% else %}
        <li>Nothing to display</li>
    {% endfor %}
</ul>
{% endblock %}